In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [3]:
dataset= pd.read_csv(r'C:\Users\thesh\OneDrive\Máy tính\AI\data\iphone_purchase_records.csv')

In [5]:
dataset.head()

   Gender  Age  Salary  Purchase Iphone
0    Male   19   19000                0
1    Male   35   20000                0
2  Female   26   43000                0
3  Female   27   57000                0
4    Male   19   76000                0

In [6]:
X=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [12]:
labelEncoder=LabelEncoder()
X[:,0] = labelEncoder.fit_transform(X[:,0])
X=np.vstack(X[:,:]).astype(float)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X,y)