In [88]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [89]:
dictionary ={
    'Animal':['Cat','Dog','Mouse','Dog','Mouse','Cat','Dog','Cat','Mouse','Cat'],
    'Age':[4,17,6,8,4,15,np.nan,12,5,7],
    'Worth':[72000,48000,54000,61000,np.nan,58000,52000,79000,83000,67000],
    'Friendly':['No','Yes','No','No','Yes','Yes','No','Yes','No','Yes']
}

df=pd.DataFrame(dictionary)
df

  Animal   Age    Worth Friendly
0    Cat   4.0  72000.0       No
1    Dog  17.0  48000.0      Yes
2  Mouse   6.0  54000.0       No
3    Dog   8.0  61000.0       No
4  Mouse   4.0      NaN      Yes
5    Cat  15.0  58000.0      Yes
6    Dog   NaN  52000.0       No
7    Cat  12.0  79000.0      Yes
8  Mouse   5.0  83000.0       No
9    Cat   7.0  67000.0      Yes

In [90]:
X=df.iloc[:,:-1]
y=df.iloc[:,-1]

Preprocessing cac gia tri NaN

In [91]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')

X.iloc[:,1:]=imputer.fit_transform(X.iloc[:,1:])
X

  Animal        Age         Worth
0    Cat   4.000000  72000.000000
1    Dog  17.000000  48000.000000
2  Mouse   6.000000  54000.000000
3    Dog   8.000000  61000.000000
4  Mouse   4.000000  63777.777778
5    Cat  15.000000  58000.000000
6    Dog   8.666667  52000.000000
7    Cat  12.000000  79000.000000
8  Mouse   5.000000  83000.000000
9    Cat   7.000000  67000.000000

Label Encoder

In [92]:
from sklearn.preprocessing import LabelEncoder
lb_X=LabelEncoder()
X['Animal']=lb_X.fit_transform(X['Animal'])
X
y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Friendly, dtype: object

OnehotEncoder

In [93]:
from sklearn.preprocessing import OneHotEncoder
onehotencoder= OneHotEncoder()
labelencoder_y=LabelEncoder()

y= labelencoder_y.fit_transform(y)
y=y.reshape(-1,1)
y=onehotencoder.fit_transform(y).toarray()
y

array([[1., 0.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [0., 1.],
       [1., 0.],
       [0., 1.]])

Train_test_split

In [105]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.8,random_state=0)

Feature scaling

In [108]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()

X_train=sc_X.fit_transform(X_train)
X_test=sc_X.fit_transform(X_test)
X_train

array([[ 1.97565832, -1.21135429,  0.12381479],
       [-0.89802651, -0.54557178,  0.46175632],
       [ 0.53881591,  1.67370326, -1.53093341],
       [ 0.53881591, -0.17569261, -1.11141978],
       [-0.89802651,  0.56406574,  1.7202972 ],
       [ 0.53881591, -0.32364428, -0.16751412],
       [-0.89802651, -1.21135429,  0.98614835],
       [-0.89802651,  1.22984825, -0.48214934]])